<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Travel Planner App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.scss">
  </head>

  <body>
    <div class="container-fluid">

      <div class="row">
        <div class="col">
          <h1>Travel Planner</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="holder zip">
            <label for="zip">Enter Zipcode here</label>
            <input type="text" id="zip" placeholder="enter zip code here">
          </div>
        </div>
        <div class="col">
          <div class="holder feel">
            <label for="feelings">How are you feeling today?</label>
            <textarea class="myInput" id="feelings" placeholder="Enter your feelings here" rows="9"
              cols="50"></textarea>
            <button id="generate" type="submit"> Generate </button>
          </div>
        </div>
      </div>

      <div id="app">

        </br>
        </br>
        </br>
        <div class="holder entry">
          <div class="title">Most Recent Entry</div>
          <div id="entryHolder">
            <div id="date"></div>
            <div id="temp"></div>
            <div id="content"></div>
          </div>
        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

  </body>

</html>